/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	TYPOGRAPHY	*/

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	FONTS	*/
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Quicksand&display=swap");
/* @import statements need to be the _first_ items in a CSS file… */

/* body */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Amatic SC", cursive;
}
body {
  font-family: "Quicksand", sans-serif;
}

.Quicksand,
*.Quicksand,
h3.Quicksand {
  font-family: "Quicksand", sans-serif !important;
}
.Amatic {
   font-family: "Amatic SC", cursive !important;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	FONT SIZES	*/

/*	base default: 1rem = 16 pixels = 12pt = 96dpi */
html {
  font-size: 100%;
}

body,
p {
  font-size: 1rem;
} /* 16px | 12pt */

h1 {
  font-size: 3rem;
} /* 48px | 36pt */
h2 {
  font-size: 2.5rem;
} /* 40px | 30pt */
h3 {
  font-size: 1.75rem;
} /* 28px | 21pt */
h4 {
  font-size: 1.5rem;
} /* 24px | 18pt */
h5 {
  font-size: 1.25rem;
} /* 20px | 15pt */
h6 {
  font-size: 1rem;
} /* 16px | 12pt */
small,
.small {
  font-size: 95%;
} /* 13.6px | 10.2pt */
/* standard default ~= 0.8em = ~13px = ~10pt */

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	FONT-STYLE	*/

h2 {
  font-style: italic;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	FONT WEIGHTS	*/

/* CSS Font Weights
      	100 (ultralight) – 900 (extrabold)
      	400 = normal
      	700 = bold
      */
div.queries {
}

@media screen and (min-width: 601px) {
  div#Menu {
    font-size: 80px;
  }
}

@media screen and (max-width: 600px) {
  div#Menu {
    font-size: 30px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	LINE HEIGHT	*/

/*	we're using _em_ for line height,
      	so it's proportional to the _text size_ …	*/

body,
p {
  line-height: 1.33em;
}

h1,
h2,
h3,
h4 {
  line-height: 1em;
}

.small {
  line-height: 1.5em;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	LETTER-SPACING	*/

.small {
  letter-spacing: 0.025em;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	COLOR */

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	Blue
      	Hex:	#1F5C99
      	RGB:	31  92  153
      	HSB:	210°  80%  60%
      	CMYK:	93%  68%  13%  1%
      	Lab:	38  -2  -40
      */
.blue,
.blue * {
  color: #2f2542;
}

/*	COLOR	*/

body {
}

h1,
h2,
h3,
h4 {
  color: white;
}

a:link,
a:visited,
a:hover,
a:active {
  color: white;
}

/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	STYLING ELEMENTS	*/

/*	LINKS	*/
a:link,
a:visited,
a:hover,
a:active {
}
a:link {
}
a:visited {
}
a:hover {
  background-color: rgba(31, 92, 153, 0.1);
}
a:active {
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #2f3542;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 25px 6.6px;
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}

#Logo {
  width: 75px;
  margin-left: 50px;
}

.addresse {
  position: absolute;

  padding: 60px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

img.image-principale {
  width: 100vw;
}

.gauche {
  background-color: #2f3542;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/
/*	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	-	*/

/*
      	If you want to use variables:
      	first, define them in a root selector:
      		:root {
      			--aVar: #F1357A;
      		}
      	Then you can use them in elements:
      		h1 {
      			background-color: var(--aVar);
      		}
      	https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
      	https://caniuse.com/?search=CSS%20custom%20properties
      */
